.euler .sevenbridgesVertex {
	stroke: black;
	stroke-width: 1;
	fill: black;
}
.euler .sevenbridgesEdge {
	stroke: black;
	stroke-width: 1;
	fill: none;
}
.euler .sevenbridgesArrow {
	stroke-width: 0;
	fill: black;
}

.euler .sevenbridgesSelected .sevenbridgesVertex {
	stroke-width: 3;
}

.euler .sevenbridgesPin {
	display: none;
}
.euler .sevenbridgesPin .sevenbridgesPinned {
	display: inline;
}

.euler .sevenbridgesSelector {
	fill: blue;
	fill-opacity: 0.1;
	stroke: darkblue;
	stroke-width: 0.5;
	#stroke-dasharray: 5,5;
}
