svg.euler .vertex {
	stroke: black;
	stroke-width: 1;
	fill: black;
}
svg.euler .edge {
	stroke: black;
	stroke-width: 1;
	fill: none;
}
svg.euler .arrow {
	stroke: black;
	stroke-width: 1;
	fill: black;
}

svg.euler ._selected .vertex {
	stroke-width: 3;
}

svg.euler .pin {
	display: none;
}
svg.euler ._pinned .pin {
	display: inline;
}

svg.euler rect.selector {
	fill: blue;
	fill-opacity: 0.2;
	stroke: blue;
	stroke-width: 1;
	stroke-dasharray: 5,5;
}
