html, body {width: 100%; height: 100%;}
.sevenbridgesGraph {width: 100%; height: 100%;}
.sevenbridgesGraph .yellow .sevenbridgesVertex {fill: yellow;}
.sevenbridgesGraph .red .sevenbridgesVertex {fill: red;}
.sevenbridgesGraph .white .sevenbridgesVertex {fill: white;}
.sevenbridgesGraph .blue .sevenbridgesVertex {fill: blue;}
